@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --bg-dark: hsl(0 0% 90%);
    --bg: hsl(300 0% 95%);
    --bg-light: hsl(300 50% 100%);
    --text: hsl(300 0% 4%);
    --text-cus-bg: hsla(0, 0%, 0%, 0);
    --text-muted: hsl(0 0% 28%);
    --highlight: hsl(300 50% 100%);
    --border: hsl(NaN 0% 50%);
    --border-muted: hsl(340 0% 62%);
    --primary: hsl(128, 81%, 52%);
    --secondary: hsl(1, 48%, 54%);
    --danger: hsl(9 21% 41%);
    --warning: hsl(52 23% 34%);
    --success: hsl(147 19% 36%);
    --info: hsl(217 22% 41%);
}

body {
    background-image: url("img/momonga-bg.jpg");
    background-position: center;
    background-size: cover;
    background-color: var(--bg);
    color: var(--text);
    font-family: "Open Sans", sans-serif;
}

body.flashcard-body {
    background-size: contain;
}

.nav-bar {
    background-color: var(--bg-light);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 60px;
    z-index: 100;

}

.nav-bar a {
    color: var(--text);
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 13px;
    transition: 300ms;
}

.nav-bar a:hover {
    color: var(--text-muted);
    transition: 300ms;
}

.main {
    position: relative;
    top: 150px;
    display: grid;
    place-items: center;
}

.main h1 {
    font-family: 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}

.main a {
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
    backdrop-filter: blur(10px);
    transition: 300ms;
    border-radius: 7px;
    color: var(--text);
    text-decoration: none;
}

#flash {
    padding: 10px 25px 10px 25px;
}

.main a:hover {
    transition: 300ms;
    background-color: var(--bg-dark);
    border-color: var(--border-muted);
    color: var(--text-muted);
}

.add {
    position: relative;
    top: 70px;
    margin-left: 25px;
    font-size: 30px;
}

.add a {
    position: fixed;
    right: 30px;
    bottom: 30PX;
    font-size: 50px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-color: var(--border);
    border-radius: 50%;
    background-color: var(--bg-light);
    transition: 200ms;
    cursor: pointer;
}

.add a:hover {
    background-color: var(--bg-dark);
    border-color: var(--border-muted);
    color: var(--text-muted);
    transition: 300ms;
    cursor: pointer;
}

#dict button {
    background-color: transparent;
    border: none;
    color: var(--secondary);
    font-weight: 100;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 3px;
}

#card-holder {
    position: relative;
    top: 50px;
    display: grid;
    place-items: center
}

#card-holder .card {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(243, 249, 255) 100%);
}
    #card-holder .card .meaning {
        display: none;
        font-size: 25px;
    }

    #card-holder .card h3 {
        font-size: 25px;
    }

    #card-holder .card a {
        margin-left: 5px;
        margin-right: 5px;
        transition: 200ms;
        cursor: pointer;
    }

    #card-holder .card a:hover {
        color: var(--text-muted);
        transition: 200ms;
    }

    .full {
        width: 100%;
        display: grid;
        place-items: center;
        transform: translateX(-45px);
        height: 85vh;
    }

    .login-card {
        display: flex;
        width: 100px;

        h1 {
            margin-top: 15px;
            margin-bottom: 10px;
        }

        input {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom-color: var(--border-muted);
            background-color: transparent;
            margin-bottom: 6px;
            color: var(--text);
            transition: 300ms;
        }
    }

    .login-card input:focus {
        background-color: var(--bg-light);
        transition: 300ms;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
    }


    .login-card form {
        backdrop-filter: blur(20px);
        border-radius: 20px;
        padding: 0px 20px 5px 20px;
    }

    .login-card .btn {
        background-color: var(--bg-light);
        border: var(--border) 1px solid;
        padding: 2px 2px 2px 2px;
        margin-top: 8px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-card p1 {
        font-size: 10px;
        color: var(--text-muted);

        a {
            color: var(--text);
            cursor: pointer;
        }
    }

    .word-ctn {
        background: #f0fdff;
        background: linear-gradient(90deg, rgba(240, 253, 255, 1) 0%, rgba(255, 240, 254, 1) 100%);
        margin-top: 10px;
        width: 90%;
        padding-left: 10px;
        padding-bottom: 7px;
        border-style: solid;
        border-width: 1px;
        font-size: 20px;
        border-radius: 17px;
        padding-top: 3px;
    }

    #dict {
        width: 100%;
        position: absolute;
        left: 0;

    }